pipeline/pipe_filter.json
{
	"name": "pipe_filter",
	"properties": {
		"activities": [
			{
				"name": "metadados",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "csvfiles",
							"fileName": "*.csv",
							"separatorName": ";"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Lookup_csv",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"containerName": "csvfiles",
							"fileName": "csvCor.csv",
							"separatorName": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup_sql",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_generico_azuresql",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": "SalesLT",
							"tableName": "ProductCategory"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "filter-getmetadata",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "metadados",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('metadados').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, 'C')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "filter_lookup_csv_cor",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_csv').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(contains(item().Cor, 'Azul'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "filter_lookup_sql",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_sql').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().Name, 'Bike')",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "adf_02_activities"
		},
		"annotations": [],
		"lastPublishTime": "2024-09-01T18:04:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}